doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MyChatApp
  link(rel='stylesheet' href='/css/login.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans&display=swap' rel='stylesheet')
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css')
  .login-page
    .form
      form.register-form(method="POST" action="register")
        input(type='text' placeholder='Tam Ad' name="fullName")
        input(type='text' placeholder='Kullanıcı Adı' name="username")
        input(type='password' placeholder='Şifre' name="password")
        input(type='text' placeholder='Mail' name="mail")
        button Kayıt Ol
        p.message
          | Kayıtlı mısın? 
          a(href='#') Giriş Yap
      form.login-form(method="POST" action="login")
        input(type='text' placeholder='Kullanıcı Adı' name="username")
        input(type='password' placeholder='Şifre' name="password")
        button Giriş Yap
        p.message
          | Henüz kayıtlı değil misin? 
          a(href='#') Kayıt Ol

  script(src="/js/script.js") 

